{% extends "base.html" %}
{% block title %}Leave Message{% endblock %}
{% block head %}
<link rel="stylesheet" href="/site_media/css/msg_post_page.css" type="text/css">
<script type="text/javascript" src="/site_media/js/utils.js"></script>
<script type="text/javascript" src="/site_media/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/site_media/js/ajax_post.js"></script>

<script type="text/javascript">
		tinyMCE.init({
		 mode:"textareas",
		 theme:"advanced",
		 plugins:"emotions",
		 theme_advanced_buttons1:"bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justrifyright,justrifyfull,|,fontselect,fontsizeselect,|,cut,copy,paste,|,undo,redo,|,link,unlink,|,forecolor,backcolor,|,image,emotions",
		 theme_advanced_buttons2:"",
		 theme_advanced_toolbar_location:"top",
		 theme_advanced_toolbar_align:"left",
		 language:"en",
		 height:"500px",
		});
		
		function AutoSaveRestore() {
			var url="autosave/";
			var action = "restore";
			var json_obj = {"action":action};
			var json_str = JSON.stringify(json_obj);
			//$.post(url,{"title":title},function(msg){ alert("save");$("#AutoSaveMsg").html(msg);});
			$.post(url,json_str,restorecallback,"json");
		}
		
		function restorecallback(json){
			//alert("restorecallback");
			$("#AutoSaveMsg").html(json['result']);
}
</script>
{% endblock %}
{% block content %}
<div class="hero-unit">
	<form method="post" action="." id="postForm">{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="Send" class="btn .btn-small btn-primary">
	</form>
	<!--<button onclick="AutoSaveRestore()">Restore</button><div id="AutoSaveMsg">This is autodavemsg: </div>-->
	<!--<script type="text/javascript" src="/site_media/js/autosave.js"></script>-->
</div>
{% endblock%}