{% extends "base.html" %}
{% load comments %}
{% block title %}Message content and related comments{% endblock %}
{% block head %}
<link rel="stylesheet" href="/site_media/css/msg_detail_page.css" type="text/css">
<script type="text/javascript" src="/site_media/js/utils.js"></script>
<script type="text/javascript" src="/site_media/js/detail_init.js"></script>
<script type="text/javascript">
		tinyMCE.init({
		 mode:"textareas",
		 theme:"advanced",
		 plugins:"emotions",
		 theme_advanced_buttons1:"bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justrifyright,justrifyfull,|,fontselect,fontsizeselect,|,cut,copy,paste,|,undo,redo,|,link,unlink,|,forecolor,backcolor,|,image,emotions",
		 theme_advanced_buttons2:"",
		 theme_advanced_toolbar_location:"top",
		 theme_advanced_toolbar_align:"left",
		 language:"en",
		 height:"100px",
		});
		
		function AutoSaveRestore() {
			var url="autosave/";
			var action = "restore";
			var json_obj = {"action":action};
			var json_str = JSON.stringify(json_obj);
			//$.post(url,{"title":title},function(msg){ alert("save");$("#AutoSaveMsg").html(msg);});
			$.post(url,json_str,restorecallback,"json");
		}
		
		function restorecallback(json){
			//alert("restorecallback");
			$("#AutoSaveMsg").html(json['result']);
}
</script>
{% endblock %}
{% block content%}
<div id="detail_comment" class="hero-unit">
{% ifequal user.username 'admin' %}
<a href="/msg_delete/{{msg.id}}" onclick="return confirm('Are you sure to delete this message?')">Delete</a>
{% endifequal %}
<div class="main">
	<div class="main_title">
		<span style="font-size:24px;">{{msg.title}}<span>
	</div>
	<div class="main_1">
		<div class="mainbox_1">
			<table id="msg_detail" width="100%">
					<tr>
						<td class="td_line1">
							<div class="mybbs">
								<div class="mypic" style="float:left;"><img src='/site_media/img/user.png'><a href="/user/profile/{{msg.user.username}}"></div>
								<div class="myinfo">
									<div class="myInfo_up">
										&nbsp;&nbsp;
										<a href="/user/profile/{{msg.user.username}}">{{msg.user.username}}</a>
										&nbsp;&nbsp;
										<span>Posted at: {{msg.datetime|date:"Y-m-d H:i"}}</span>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								<span style="float:right; font-size:14px;">
									Viewed: <font color="#ff0000">{{msg.clickcount}}</font>&nbsp;
									{% load comments %}
									Commented: <font color="#ff0000">{% get_comment_count for message.msg msg.id as comment_count %}{{comment_count}}</font>
								</span>
								<div style="clear:both"></div>
								<h2></h2>
								<div id="msg_content" style="line-height:1.6em; padding:10px; visibility:hidden">{{msg.content}}</div>
							</div>
						</td>
					</tr>
			</table>
		</div>
	</div>
</div>
<table class="msglist" style="visibility:hidden" id="msg_list">
</table>
{% get_comment_list for message.msg msg.id as comment_list %}
	{% if not comment_list %}
		<div id="comment_list" style="visibility:hidden">
	{% else %}
		{% ifequal comment_list|length 1 %}
		<div id="comment_list" style="visibility:hidden">
		{% else %}
			{% ifequal comment_list|length 2 %}
			<div id="comment_list" style="visibility:hidden">
			{% else %}
				{% ifequal comment_list|length 3 %}
				<div id="comment_list" style="visibility:hidden">
				{% else %}
					{% ifequal comment_list|length 4 %}
					<div id="comment_list" style="visibility:hidden">
					{% else %}
					<div id="comment_list" style="visibility:hidden;overflow-y:auto;height:500px">
					{% endifequal %}
				{% endifequal %}
			{% endifequal %}
		{% endifequal %}
	{% endif %}
	{% for comment in comment_list %}
	<div class="comment" style="font-size:14px;">
		<span style="color:green;">User:</span><b><a href="/user/profile/{{comment.user.username}}">{{comment.user.username}}</a></b>&nbsp;&nbsp;&nbsp;
		<span style="color:green;">Time:{{comment.submit_date|date:"Y-m-d H:i"}}</span>&nbsp;&nbsp;&nbsp;
		<!--IP Address:{{comment.ip_address}}</p>-->
		<div class="comment_detail" style="font-size:18px;">{{comment.comment}}</div>
	</div>
	{% endfor %}
</div>


	<div class="bdlikebutton"></div>
	<script id="bdlike_shell"></script>
	<script>
	var bdShare_config = {
		"type":"small",
		"color":"blue",
		"uid":"4679712"
	};
	document.getElementById("bdlike_shell").src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=" + Math.ceil(new Date()/3600000);
	</script>

	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style" style="float:right">
		<span class="jiathis_txt">Share to:</span>
		<a class="jiathis_button_qzone"></a>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_tqq"></a>
		<a class="jiathis_button_renren"></a>
		<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">More</a>
		<a class="jiathis_counter_style"></a>
	</div>
	<div style="clear:both"></div>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1363692970301781" charset="utf-8"></script>
	<!-- JiaThis Button END -->
	
<article >     
{% if user.is_authenticated %}  
{% get_comment_form for message.msg msg.id as form %}  
<form action='{%comment_form_target%}' method='post'>
    {% csrf_token %}
    {{form.object_pk}}
    {{form.content_type}}
    {{form.timestamp}}
    {{form.security_hash}}
    <input name="name" id="id_name" value="{{user.username}}" type='hidden'></p>
    <input name="email" id="id_email", value="{{user.email}}" type='hidden'></p>
    <p><label for="id_comment">Comment:</label></p>
    <p><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></p>
    <p style="display:none;"><label for="id_honeypot">asxa</label> <input type="text" name="honeypot" id="id_honeypot"></p>
    <p><input name="post" value="Send" type="submit" /></p>
    <input type='hidden' name='next' value='/detail/{{msg.id}}'/>
{% endif %}
    
	<!-- UJian Button BEGIN -->
	<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide&fade=1"></script>
	<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="recommend" style="border:0;padding:0;margin:0;" /></a>
	<!-- UJian Button END -->
    <div id="uyan_frame"></div>
	<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=0" async=""></script>
    
</form>
</article>
{% endblock %}