{% extends "gallery/base.html" %}
{% block title %}Gallery{% endblock %}
{% block head %}
<link rel="stylesheet" href="/site_media/css/gallery.css" type="text/css">
{% endblock %}	
{% block content %}
<div class="hero-unit"> 
	<div class='blueband'> 
		<div class='left'><img alt="Blueband-left" src="/site_media/img/blueband-left.png" /></div> 
		<div class='center'><h1>Gallery</h1></div>
		<div class='right'><img alt="Blueband-right" src="/site_media/img/blueband-right.png" /></div> 
		<div class='clear'></div> 
	</div>
	<ul class="thumbnails" id="scene-ul">
				{% include "profile/work_list.html" %}
	</ul>
	<div>
		<a href="javascript:;" id="get-more-scene" class="btn btn-large" style="margin:0 auto;display:block" data-page="1">More......</a>
	</div>
	<script type="text/javascript" src="/site_media/js/gallery.js"></script>
</div>
<!-- UJian Button BEGIN -->
	<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide&fade=1"></script>
	<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="recommend" style="border:0;padding:0;margin:0;" /></a>

{% endblock%}