{% for key , value in modelMap.items %}
	<label>{{ key }}</label>
	<div class="dropdown  selection-div" id="select-model-{{key.id}}">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Select One<b class="caret"></b></a>
			<ul  class="dropdown-menu" role="menu" aria-labelledby="dLabel"  style="max-height:240px; overflow-y:scroll;">
			{% for model in value %}
				<li id="option-model-{{model.id}}"
					data-type-id="{{model.type_id}}"
					data-model-url="{{model.model_url}}"
					data-img-url="{{model.image_url}}"
					data-icon-url="/site_media/{{model.icon_url}}"
					data-scale="{{model.scale_x}}:{{model.scale_y}}:{{model.scale_z}}"
					data-rotation="{{model.rotation_x}}:{{model.rotation_y}}:{{model.rotation_z}}"
					data-size="{{model.x}}:{{model.y}}:{{model.z}}"
                                        onclick="setCmd(AddFurnitureCommand, this)">
					<a href="#">
						<img
                                                     src="/site_media/{{model.image_url}}" style="width:50px;height:50px;"/>
						{{ model.name}}
					</a>
				</li>
			{% endfor %}
			</ul>
	</div>
{% endfor %}
