{% extends "scene/base.html" %}
{% block title %}Gallery{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css"></link>
 --><link rel="stylesheet" href="/site_media/css/scene.css"></link>
{% endblock %}	
{% block content %}
<div> 
		<div id="scene-main">	
			<ul class="nav nav-tabs">
			 	<li class="active">
					<a href="javascript:;" id="three-tab">3D展示</a>
			  	</li>
			  	<li>
			  		<a href="javascript:;" id="two-tab">2D编辑</a>
			  	</li>
			</ul>
			<div id="three-scene">
				{% include "scene/3D.html"%}
			</div>
			<div id="two-scene" style="display:none;">
				{% include "scene/2D.html"%}
			</div>
		</div>

		<script type="text/javascript" src="/site_media/js/scene.js"></script>
</div>
{% endblock%}
