<script type="text/javascript" src="/site_media/js/jquery-1.9.0.min.js"></script>
<!--<script type="text/javascript" src="js/3dlib/Three.js"></script>-->
<script type="text/javascript" src="/site_media/js/3dlib/three/three.r57.min.js"></script>
<script type="text/javascript" src="/site_media/js/3dlib/three/TrackballControls.js"></script>
<script type="text/javascript" src="/site_media/js/3dlib/three/FirstPersonControls.js"></script>
<script type="text/javascript" src="/site_media/js/3dlib/three/ColladaLoader.js"></script>
<script type="text/javascript" src="/site_media/js/3dlib/three/three-r57-ext.js"></script>
<script type="text/javascript" src="/site_media/js/3dlib/3d-app.js"></script>
<script type="text/javascript" src="/site_media/js/3dlib/local.js"></script>

<script type="text/javascript" src="/site_media/js/3dlib/data-transformer.js"></script>
<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script>

<!--<script type="text/javascript" src="js/data-json/scene-example-20130404.js"></script>-->
<script type="text/javascript" src="/site_media/js/data-json/2d-data-example-20130414.js"></script>

<link rel="stylesheet" type="text/css" href="/site_media/css/3d.css"/>


<div id="v-area">
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>操作提示：</strong> 按住鼠标左键转动视角，按住鼠标右键拖动场景，鼠标滚轮缩放。
	</div>
	<div id="v-container"></div>
</div>
