{% extends "gallery/base.html" %}
{% block title %}Gallery{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css"></link>
 --><link rel="stylesheet" href="/site_media/css/scene.css"></link>
 <script type="text/javascript" src="/site_media/js/tiny_mce/tiny_mce.js"></script>
{% endblock %}	
{% block content %}
<div> 
	<div id="scene-title">
		{% ifequal type 'edit' %}
			<script type="text/javascript">
			$(function(){
				tinyMCE.init({
					 mode:"textareas",
					 theme:"advanced",
					 plugins:"emotions",
					 theme_advanced_buttons1:"bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justrifyright,justrifyfull,|,fontselect,fontsizeselect,|,cut,copy,paste,|,undo,redo,|,link,unlink,|,forecolor,backcolor,|,image,emotions",
					 theme_advanced_buttons2:"",
					 theme_advanced_toolbar_location:"top",
					 theme_advanced_toolbar_align:"left",
					 language:"en",
					 height:"100px",
				});
			})
			</script>
			<form class="form-horizontal" id="scene-data-form" method="post" action="/scene/save/" enctype="multipart/form-data">
				<fieldset>
					<legend>Information About the Scene</legend>
					<div class="control-group">
						<label class="control-label" for="inputSceneTitle">Title</label>
						<div class="controls">
							<input class="scene-input" type="text" id="inputSceneTitle" placeholder="input title of the scene..." name="title" autocomplete="off" value="{{scene.title}}"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputSceneDescription">Description</label>
						<div class="controls">
							<textarea class="scene-input"  id="inputSceneDescription" rows="3" placeholder="input description of the scene..." name="description" autocomplete="off">{{scene.description}}</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputSceneImageUrl">Thumnail Image</label>
						<div class="controls">
							<input type="file" id="inputSceneImageUrl" name="imageUrl"/>
						</div>
						<div class="span3"></div>
						<div class="span3" id="img-preview-div">
							<!-- <img data-src="holder.js/400x300" src="/site_media/img/1.jpg" style="width:400px;height:300px;"/> -->
						</div>
					</div>
					<input type="hidden" id="sceneId" name="sceneId" value="{{scene.id}}"/>
					<input type="hidden" id="sceneContentData" name="content" value=""/>
					<input type="hidden" id="isDraft" name="draft" value="false"/>
				</fieldset>
			</form>
		{% endifequal %}

		{% ifequal type 'view' %}
			<div id="scene-data-div">
				{% ifequal scene.img_url '' %}				
				<div class="span3">
					<img src="/site_media/img/no-preview.jpg" onerror="" class="img-rounded"/>
				</div>
				{% else %}
				<div class="span3">
					<img src={{ scene.img_url }} onerror="this.src='/site_media/img/1.jpg'" class="img-rounded"/>
				</div>
				{% endifequal %}
				<div class="span8">
					<h3>{{ scene.title }}</h3>
					<p>{{ scene.description|safe }}</p>
				</div>
				
			</div>
		{% endifequal %}
	</div>

	<div id="scene-main">	
		<ul class="nav nav-tabs">
			<li  {% ifequal type 'edit' %}class="active"{% endifequal %}>
		  		<a href="javascript:;" id="two-tab">2D Edit</a>
		  	</li>
		 	<li {% ifequal type 'view' %}class="active"{% endifequal %}>
				<a href="javascript:;" id="three-tab">3D Display</a>
		  	</li>
		  	{% ifequal type 'edit' %}
		  	<li class="tab-btn-ctn">
		  		<div class="btn-ctn">
		  			<div class="btn-group">
						<button id="save-btn1" class="btn btn-primary">Save</button>
						<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
					 	</button>
					  	<ul class="dropdown-menu">
							<li>
								<a id="save-btn2" href="javascript:;">Save as scene</a>
							</li>
							<li>
								<a id="save-draft-btn" href="javascript:;">Save as draft</a>
							</li>
						</ul>
					</div>
		  		</div>
		  	</li>
		  	{% endifequal %}
		  	{% ifequal type 'view' %}
		  	<li class="tab-btn-ctn">
		  		<div class="btn-ctn">
		  			<a href="/scene/edit/{{ scene.id }}" class="btn btn-primary">Edit</a>
		  		</div>
		  	</li>
		  	{% endifequal %}
		</ul>
		<div id="three-scene"  {% ifequal type 'edit' %}style="display:none;"{% endifequal %}>
			{% include "scene/3D.html"%}
		</div>
		<div id="two-scene"  {% ifequal type 'view' %}style="display:none;"{% endifequal %}>
			{% include "scene/2D.html"%}
		</div>
	</div>

	<script type="text/javascript" src="/site_media/js/scene.js"></script>
</div>
{% endblock%}
