{% extends "registration/base.html" %}
{% block title %}Change Password{% endblock %}
{% block head %}
<link rel="stylesheet" href="/site_media/css/pwd-change.css"></link>
{% endblock %}
{% block content %}
<div class='hero-unit'>
	<div id='logo-area'></div>
	<div id='change-area'>
		{% if form.has_errors %}
			<ul class="errorlist"><li>Wrong!Please enter again.</li></ul>
		{% endif %}
		<form method="post" action=".">{% csrf_token %}
	 	<p><label for="id_old_password">Your old password:</label>{{ form.old_password }}</p>
	 	<p><label for="id_new_password1">Enter new password:</label>{{ form.new_password1 }}</p>
	 	<p><label for="id_new_password2">Verify new password:</label>{{ form.new_password2 }}</p>
		 <input type="submit" value="Save" class='btn btn-info .btn-mini'>
		</form>
	</div>
</div>
{% endblock %}
