{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block head %}Reset password{% endblock %}
{% block content %}
<p>Please enter your registered email, the system will send you a new password to your emial.</p>
{% if form.has_errors %}
	<ul class="errorlist"><li>Wrong email address! Please enter again.</li></ul>
{% endif %}
<form method="post" action=".">
	<p><label for="id_email">Email: </label>
	{{form.email}}</p>
	<input type="submit"  value="Send">
</form>
{% endblock %}
