body {
	background-color: #b2daf2;
}

div#detail_comment {
	position: absolute;
	top:100px;
	left:250px;
	width:60%;
	border: 1 solid black;
	padding: 15px;
	background-color: white;
}

div#footer {
	height:150px;
	background: url('/site_media/img/bg-footer.jpg') repeat-x;
	position: absolute;
	left: 0px;
	bottom: -1460px;
	width: 100%;
}
div#subfooter {
	background: url('/site_media/img/bg-subfooter.jpg') repeat-x;
	position: absolute;
	bottom: -1500px;
	left: 0px;
	width: 100%;
	height:40px;
}
.main_title {
	border: 1px solid #9DB3C5;
	border-bottom: 0;
	padding: 1px;
	color: white;
	height: 31px;
	overflow: hidden;
	zoom: 1;
	z-index: 1;
	background: url('/site_media/img/title_bg.gif') repeat-x 0 0;
}
.main_title span {
	line-height: 31px;
	height: 31px;
	padding-left: 1em;
	
}

table td{
	border-bottom: 1 solid #b2daf2;;
	width: 700px;
	height:50px;
	font-size: 18px;
}
div.main {
	border: 1 solid #b2daf2;;
}
