body {
	background-color: #b2daf2;
}
table.msglist td.summary{
	width:300px;
	overflow: hidden;
}
table.msglist td.datetime{
	width:150px;
}

table.msglist th {
	border-bottom: 1 solid #f73700;
	width: 100px;
	font-size: 20px;
	color: #fa7c00;
}

table#paginator {
	float: right;
}

table.msglist {
	background-color: white;
	border: 1px solid #f73700;
}

div.left {
	float: left;
}
div.blueband {
	background: url('/site_media/img/blueband-middle.png');
	height: 162px;
	margin-left: -78px;
	width: 958px;
}
div.center {
	color: #FFFF00;
	padding:30px;
}
h1 {
	margin-left:360px;
}
div.right {
	float: right;
	position:relative;
	top:-130px;
	left:18px;
}
.hero-unit {
	padding-top: 40px;
}