body {
	background-color: #b2daf2;
}
.thumbnails li {
	margin:30px;
}
div.left {
	float: left;
}
div.purpleband {
	background: url('/site_media/img/purpleband-middle1.png');
	height: 60px;
	margin-left: -78px;
	width: 958px;	
}
div.center {
	color: #FF9999;
}

h1 {
	margin-left:360px;
}
div.right {
	float: right;
	position:relative;
	top:-50px;
	left:18px;
}
.hero-unit {
	padding-top: 20px;
}
div.more a {
	float: right;
}