<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <img data-src="holder.js/400x300" alt="" src="/site_media/img/1.jpg" style="width:400px; height:300px;">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img data-src="holder.js/400x300" alt="" src="/site_media/img/1.jpg" style="width:400px; height:300px;">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img data-src="holder.js/400x300" alt="" src="/site_media/img/1.jpg" style="width:400px; height:300px;">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img data-src="holder.js/400x300" alt="" src="/site_media/img/1.jpg" style="width:400px; height:300px;">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
</ul>
